.navbar {
  background-color: var(--black-color);
  min-width: 100%;
  padding: 15px 25px;
  color: var(--lemon-color);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  margin-left: 50px;
}

button{
    padding: 5px 30px;
    font-weight: bold;
}
